@font-face {
    font-family: "StretchPro";
    src: url('./StretchPro.otf') format('opentype');
}

@font-face {
    font-family: "HelveticaNeue";
    src: url('./HelveticaNeue.otf') format('opentype');
}
