.buttonContainer button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    margin-bottom: 2%;
    width: 100%;
  }
  
  .buttonContainer span.number {
    font-size: 40px;
  }
  
  .buttonContainer span.label {
    font-size: 60px;
    font-family: "StretchPro";
    text-transform: uppercase;
  }
  
  .buttonContainer button:hover {
    color: #A0CA68;
  }
  
  /* Para tablets */
  @media (min-width: 768px) and (max-width: 1199px) {
    .buttonContainer button {
      font-size: 30px;
      width: 70%;
    }
  
    .buttonContainer span.number {
      font-size: 30px;
    }
  
    .buttonContainer span.label {
      font-size: 50px;
    }
  }
  
  /* Para móviles */
  @media (max-width: 767px) {
    .buttonContainer button {
      font-size: 20px;
      width: 100%;
    }
  
    .buttonContainer span.number {
      font-size: 20px;
    }
  
    .buttonContainer span.label {
      font-size: 26px;
    }
  }
  