.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    background-image: url("/images/noise.png");
    background-color: #040404;
    height: 100vh;
    overflow: hidden;
}

.header{
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.title h1 {
    font-size: 60px;
    color: #ffffff;
    width: 80%;
    text-transform: uppercase;
    border-bottom: 5px solid #ffffff;
}

.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2% 0 0 10%;
}

.header button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 30px;
}

.contact {
    width: 100%;
    display: flex;

}

.contactItem h2{
    font-size: 30px;
    color: #A0CA68;
    text-transform: uppercase;
}

.contactItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2% 0 0 10%;
}

.contactItem {
    width: 100%;
}

.arrowelement{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.bubble{
    position: absolute;
    top: -40%;
    left: 60%;
    transform: rotate(-90deg);
    width: 400px;
    height: 400px;

}

.bubble2{
    position: absolute;
    bottom: -40%;
    right: 80%;
    transform: rotate(10deg);
    width: 400px;
    height: 400px;
}

  /* Estilos para pantallas pequeñas (teléfonos móviles) */
  @media (max-width: 767px) {
    .title h1 {
        font-size: 40px;
        border-bottom: none;
        position: relative;
        top: 60px;
    }

    .header{
        position: absolute;
        top: 4%;
        right: 5%;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        padding: 0px;
        padding-top: 40px;
    }
    .contact {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }
    .contactItem h2{
        font-size: 20px;
        color: #41545b;
        text-transform: uppercase;
    
    }
    .contactItem {
        width: 100%;
        padding: 0px;
        flex-direction: column;
    }
    .arrowelement{
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bubble{
        top: 30%;
        left: 80%;
    }

     .bubble2{
        bottom: -30%;
        right: 60%;
        transform: rotate(180deg);
    }
  }

  .whatsappButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #A0CA68; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); 
  }
  
  .whatsappButton img {
    width: 30px;
    height: 30px;
  }