.homecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("/images/noise.png");
    background-color: #040404;
    position: relative;
    overflow: hidden;
}

.header{
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10%;
}

.name h1{
    font-size: 90px;
    color: #ffffff;
    text-transform: uppercase;
}

.name h1::selection, .description p::selection{ 
    background: #A0CA68;
}

.description p{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-family: "HelveticaNeue";
}

.homecontainer .bubble{
    position: absolute;
    top: -30%;
    left: 60%;
    transform: rotate(-90deg);
    width: 400px;
    height: 400px;

}

.homecontainer .bubble2{
    position: absolute;
    bottom: -30%;
    right: 80%;
    transform: rotate(10deg);
    width: 400px;
    height: 400px;
}

.homecontainer .bubble3{
    position: absolute;
    bottom: -30%;
    left: 80%;
    transform: rotate(90deg);
    width: 400px;
    height: 400px;
}

.homecontainer .bubble4{
    position: absolute;
    top: -30%;
    left: -10%;
    transform: rotate(90deg);
    width: 400px;
    height: 400px;
}

@keyframes float {
    0% {
      transform: translate(0);
      opacity: 1;
    }
    25% {
      transform: translate(50px, -50px);
    }
    50% {
      transform: translate(100px, 0);
    }
    75% {
      transform: translate(50px, 50px);
    }
    100% {
      transform: translate(0);
      opacity: 0.7;
    }
  }

.header img{
    cursor: pointer;

}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1199px) {
  .name h1 {
    font-size: 60px;
  }

  .description p {
    font-size: 15px;
  }

  .homecontainer .bubble,
  .homecontainer .bubble2,
  .homecontainer .bubble3,
  .homecontainer .bubble4 {
    width: 300px;
    height: 300px;
  }
}

/* Para móviles */
@media (max-width: 767px) {
  .name h1 {
    font-size: 40px;
  }

  .homecontainer{
    height: 100vh;
  }

  .name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .description p {
    font-size: 12px;
  }

  .homecontainer .bubble,
  .homecontainer .bubble2,
  .homecontainer .bubble3,
  .homecontainer .bubble4 {
    width: 200px;
    height: 200px;
  }

  .homecontainer .bubble{
    top: -20%;
    left: 50%;
  }

  .homecontainer .bubble2{
    bottom: -20%;
    right: 80%;
  }

  .homecontainer .bubble3{
    bottom: -10%;
    left: 80%;
  }

  .homecontainer .bubble4{
    top: -20%;
    left: -10%;
  }
}
