
.stackcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  background-image: url("/images/noise.png");
    background-color: #3333;
  min-height: 100vh;
  overflow-x: hidden;
}

.buttonstack:hover::before, .buttommenu:hover::before {
  display: none;
}

.header{
  position: absolute;
  top: 10%;
  right: 5%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.title h1 {
  font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    width: 80%;
    border-bottom: 5px solid #fff;
}

.title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2% 0 0 10%;
}

.header button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.stackleft{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0 0 10%;
}

.stackleftitems{
  display: flex;
  flex-direction: column;
  gap : 20px;
}

.stackelements{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%; /* Usar % en lugar de px */
  min-height: 40vh; /* Usar vh en lugar de px */
  border-radius: 10px 0 0 10px;
  gap: 20px;
}

.stackleftitems button{
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
}

.stackleftitems button:hover{
  color: #41545B;
  background-color: #B8E4DC;
}

.stackelemnts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  max-width: 100%; /* Para hacer las imágenes responsivas */
}

.element{
  width: 50%; /* Usar % en lugar de px */
  height: 50%; /* Usar % en lugar de px */
}

.element p {
  font-size: 20px;
  color: #41545B;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .stackelements{
    width: 800px; /* El tamaño original para pantallas más grandes */
    min-height: 400px; /* El tamaño original para pantallas más grandes */
  }

  .element{
    width: 200px; /* El tamaño original para pantallas más grandes */
    height: 200px; /* El tamaño original para pantallas más grandes */
  }
}

@media (max-width: 768px) {
  .stackleft{
    padding: 0 0 0 5%; /* El tamaño original para pantallas más pequeñas */
    align-items: center;
  }

  .stackleftitems{
    gap : 10px; /* El tamaño original para pantallas más pequeñas */
  }

  .stackelements{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 40px;
    width: 100%;
    background-color: transparent;
    align-items: center;
    padding-top: 40px;
    background-color: rgba(184, 228, 220, 0.7);
  }

  .element{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .element img {
    width: 80px;
    height: 80px;
  }


  .header{
    top: 5%; /* El tamaño original para pantallas más pequeñas */
  }


  .element p {
    font-size: 8px;
    font-weight: bold;
    color: #fff;
  }
}