.projectscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(184, 228, 220, 0.7), rgba(150, 190, 188, 0.7), rgba(119, 153, 156, 0.7), rgba(91, 118, 123, 0.7), rgba(65, 84, 91, 0.7)), url("/images/noise.png");

}
.header{
    position: absolute;
    top: 4%;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.title h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 5px solid #fff;
}

.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}


.header button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttommenu:hover::before {
    display: none;
}

img.imagecarrousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

  .contentslider{
    width: 800px;
    border-radius: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.projectName{
    display: flex;
    justify-content: flex-start;
}

.contentproyects{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

.projectName{
    font-family: "HelveticaNeue";
}

.titleproyects h1 {
    font-size: 40px;
    color: rgba(184, 228, 220, 0.7);
    padding: 20px;
    opacity: 0; /* Inicia la opacidad en 0 para el efecto de desvanecimiento */
    position: relative; /* Es necesario para el desplazamiento */
    left: -50px; /* Inicia un poco a la izquierda para el efecto de deslizamiento */
    animation: slideIn 8s ease-out forwards; /* Aplica la animación definida abajo */
}

/* Define la animación */
@keyframes slideIn {
    0% {
        opacity: 0;
        left: -50px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}


/* Estilos para pantallas de tamaño grande (desktops, laptops) */
@media (min-width: 769px) {
    .title h1 {
        font-size: 60px;
    }
  
    .contentslider{
      width: 80%;
    }
  
    .titleproyects h1 {
        font-size: 40px;
    }
  
    .contentproyects{
        flex-wrap: wrap;
    }

    img.imagecarrousel{
        height: 600px;
    }

  }
  
  
  /* Estilos para pantallas pequeñas (teléfonos móviles) */
  @media (max-width: 967px) {
    .projectscontainer{
        width: 100%;
    }
  
    .title h1 {
        font-size: 30px;
    }

    .title{
        padding-top: 20%;
    }
  
    .contentslider{
      width: 90%;
      max-height: 225px;
    }
  
    .titleproyects h1 {
        font-size: 20px;
        text-align: center;
    }
  
    .contentproyects{
        flex-wrap: wrap;
    }

    .header{
        right: 4%;
    }

    img.image{
        width: 350px;
        height: 200px;
    }
  }
  
