.projectscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom, #b8e4dc, #96bebc, #77999c, #5b767b, #41545b);
    position: relative;
    overflow: scroll;
}
.header{
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.title h1{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 5px solid #fff;
}

.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2% 0 0 10%;
}

.header button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

img.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

  .contentslider{
    width: 800px;
    max-height: 600px;
    border-radius: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.projectName{
    display: flex;
    justify-content: flex-start;
}

.contentproyects{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    padding: 100px;
}