.menucontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.header{
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.menucontainer .bubble{
    position: absolute;
    top: -30%;
    left: 70%;
    transform: rotate(-90deg);
    width: 400px;
    height: 400px;

}

.menucontainer .bubble2{
    position: absolute;
    bottom: -40%;
    right: 80%;
    transform: rotate(10deg);
    width: 400px;
    height: 400px;
}

/* Estilos para pantallas de tamaño grande (desktops, laptops) */
@media (min-width: 1200px) {
    .menucontainer .bubble, .menucontainer .bubble2{
      width: 400px;
      height: 400px;
    }
    
    .menu {
      margin-left: 30%;
    }
  }
  
  /* Estilos para pantallas de tamaño mediano (tablets) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .menucontainer .bubble, .menucontainer .bubble2{
      width: 300px;
      height: 300px;
    }
  
    .menu {
      margin-left: 20%;
    }
  }
  
  /* Estilos para pantallas pequeñas (teléfonos móviles) */
  @media (max-width: 967px) {
    .menucontainer .bubble, .menucontainer .bubble2{
      width: 200px;
      height: 200px;
    }

    .menucontainer .bubble{
        top: -10%;
        left: 60%;
    }

    .menucontainer .bubble2{
        bottom: -10%;
        right: 60%;
    }
  
    .menu {
      margin-left: 10%;
    }

    .content{
        gap : 20px;
    }
  }
  